// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
border: 1px solid #ccc;
border-collapse:collapse;
vertical-align:top;
padding:15px; 
margin:10px;
}

/*body
nav
{
float: left;
font-weight: bold;
background: #428BCA;
width: 100%; 

}*/
 #elink1, #elink2, #elink3
{
	width: 5%;
	float: left;
}


